<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-1"><button class="btn btn-success">Proceed to Checkout</button></div>
	<div class="col-md-3"></div>
</div>
<hr>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3"><strong>Items in Your Cart</strong></div>
	<div class="col-md-2"></div>
	<div class="col-md-1"><strong>Price</strong></div>
	<div class="col-md-4"><strong>Quantity</strong></div>
</div>
<hr>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3"><img src="/assets/images/cpu_4.png" alt="Large Computer"></div>
	<div class="col-md-2">
		<h3>Dell XPS 7800</h3>
		by Dell.<br>
		In Stock
	</div>
	<div class="col-md-1">
		$1,449.95
	</div>
	<div class="col-md-4">
		2
	</div>
</div>
<div class="row">
	<div class="col-md-2"></div>
	<div class="col-md-3"><img src="/assets/images/large_cpu.png" alt="Large Computer"></div>
	<div class="col-md-2">
		<h3>Dell XPS 6000</h3>
		by Dell.<br>
		In Stock
	</div>
	<div class="col-md-1">
		$1,239.95
	</div>
	<div class="col-md-4">
		2
	</div>
</div>
<hr>
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-2">Subtotal (4 items): $3,455.99</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-2">&nbsp;</div>
	<div class="col-md-2"></div>
</div>
<div class="row">
	<div class="col-md-8"></div>
	<div class="col-md-2"><button class="btn btn-success">Proceed to Checkout</button></div>
	<div class="col-md-2"></div>
</div>
<div class="row recommended">
	<div class="col-md-3"></div>
	<div class="col-md-3">&nbsp;</div>
	<div class="col-md-3"></div>
	<div class="col-md-3"></div>
</div>

    {{#each orders}}
    	{{#if "5 == 3"}}
		    {{this.sku}}
		    {{this.barcode}}
		    {{this.productDescription}}
		    {{this.productImage}}
		    {{this.category}}
		    {{this.quantity}}
		    {{this.price}}
		    {{this.supplier}}
	    {{/if}}
    {{/each}}