<a href="#" data-toggle="modal" data-target="#addNew">Add Product</a><br><br>
<table id="inventory" class="display" cellspacing="0" width="100%">
    <thead>
        <tr>
            <th>Image</th>
            <th>Name</th>
            <th>Description</th>
            <th>SKU</th>
            <th>Barcode</th>
            <th>Category</th>
            <th>Quantity</th>
            <th>Price</th>
            <th>Supplier</th>
        </tr>
    </thead>
    <tbody>
        {{#each inventory}}
            <tr>
                <td><a href="#" data-toggle="modal" data-target="#productInventory-{{this.barcode}}"><img src="{{this.productImage}}" width="50px" height="50px" alt="{{this.productName}} {{this.productDescription}}"></a></td>
                <td data-search="{{this.productName}}">{{this.productName}}</td>
                <td>{{this.productDescription}}</td>
                <td>{{this.sku}}</td>
                <td>{{this.barcode}}</td>
                <td data-search="{{this.category}}">{{this.category}}</td>
                <td>{{this.quantity}}</td>
                <td>${{this.price}}</td>
                <td>{{this.supplier}}</td>
            </tr>
            <!-- Modal -->
            <div id="productInventory-{{this.barcode}}" class="modal fade" role="dialog">
              <div class="modal-dialog">
                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Update {{this.productName}}</h4>
                  </div>
                  <div class="modal-body">
                    <form action="inventory/update/{{this.barcode}}?_method=PUT" method="POST" class="form col-md-12 center-block">
                        <div class="form-group">
                          Name <input type="text" class="form-control input-lg" name="productName" placeholder="{{this.productName}}">
                        </div>
                        <div class="form-group">
                          Description <input type="text" class="form-control input-lg" name="productDescription" placeholder="{{this.productDescription}}">
                        </div>
                        <div class="form-group">
                          SKU <input type="text" class="form-control input-lg" name="sku" placeholder="{{this.sku}}">
                        </div>
                        <!--<div class="form-group">
                          Barcode <input type="text" class="form-control input-lg" name="barcode" placeholder="{{this.barcode}}">
                        </div>-->
                        <div class="form-group">
                          Category <input type="text" class="form-control input-lg" name="category" placeholder="{{this.category}}">
                        </div>
                        <div class="form-group">
                          Quantity <input type="text" class="form-control input-lg" name="quantity" placeholder="{{this.quantity}}">
                        </div>
                        <div class="form-group">
                          Price <input type="text" class="form-control input-lg" name="price" placeholder="{{this.price}}">
                        </div>
                        <div class="form-group">
                          Supplier <input type="text" class="form-control input-lg" name="supplier" placeholder="{{this.supplier}}">
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-lg btn-block">Update</button>
                        </div>
                    </form>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
        {{/each}} 
    </tbody>
</table>

<!-- Modal Add New -->
<div id="addNew" class="modal fade" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add New</h4>
      </div>
      <div class="modal-body">
        <form action="inventory/create" method="POST" class="form col-md-12 center-block">
            <div class="form-group">
              Name <input type="text" class="form-control input-lg" name="productName">
            </div>
            <div class="form-group">
              Description <input type="text" class="form-control input-lg" name="productDescription">
            </div>
            <div class="form-group">
              SKU <input type="text" class="form-control input-lg" name="sku">
            </div>
            <div class="form-group">
              Barcode <input type="text" class="form-control input-lg" name="barcode">
            </div>
            <div class="form-group">
              Image <input type="text" class="form-control input-lg" name="productImage">
            </div>
            <div class="form-group">
              Category <input type="text" class="form-control input-lg" name="category">
            </div>
            <div class="form-group">
              Quantity <input type="text" class="form-control input-lg" name="quantity">
            </div>
            <div class="form-group">
              Price <input type="text" class="form-control input-lg" name="price">
            </div>
            <div class="form-group">
              Supplier <input type="text" class="form-control input-lg" name="supplier">
            </div>
            <div class="form-group">
              <button class="btn btn-primary btn-lg btn-block">Add New</button>
            </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>